@import "tailwindcss";

@theme {
    --color-dot:#1A1A1A;
    --color-dark1:#0f1316;
    --color-dark3:#1d1f27;
}


*{ 
padding:0; 
margin:0;
box-sizing:border-box;
}
html , body {
width:100svw;
height:100svh;
overflow: hidden;
}

main {
    width: 100svw;
    height: 100svh;
    overflow-x: hidden;
    padding-top: 70px;
    gap: 15px;
}

@media (max-width:800px) {
    main {
        padding-top: 100px!important;
        gap: 30px;
    }
}

.bg-gradient-bg {
   background-image: linear-gradient(to bottom, #0b0b16, #101315);
}

::-webkit-scrollbar {
    display: none;
}
